/* style.css */
@import url( 
"https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap"); 

body { 
	background-color: #f8f8f8; 
	color: #333; 
	font-family: "Roboto Mono", monospace; 
} 

.generator { 
	background-color: #f1f1f1; 
	width: 50%; 
	margin: 5% auto; 
	padding: 2rem; 
	border-radius: 10px; 
} 
@media (max-width: 1000px) {
    .generator {
        width: 85%;
		margin: 5% auto; 
    }
  }

div.password { 
	display: grid; 
	grid-template-columns: auto min-content; 
	border-radius: 10px; 
	overflow: hidden; 
} 

div.password input { 
	padding: 1rem;
	font-size: 1.1rem; 
	background-color: #ddd; 
	border: 0; 
	color: #333; 
} 

button { 
	background-color: #4caf50; 
	color: #fff; 
	text-transform: uppercase; 
	padding: 1rem; 
	border: 0; 
	border-radius: 10px; 
} 

div.password button { 
	border-radius: 0; 
} 

div.range { 
	margin: 1rem 0; 
	display: grid; 
	grid-template-columns: 1fr min-content; 
} 

div.range span { 
	background-color: #ddd; 
	padding: 0.75rem; 
	margin-left: 20px; 
	min-width: 30px; 
	text-align: center; 
	border-radius: 10px; 
} 

div.options { 
	display: grid; 
	grid-template-columns: 1fr 1fr; 
	gap: 1.5rem; 
} 

div.options label { 
	display: block; 
	background-color: #ddd; 
	padding: 0.75rem; 
	border-radius: 10px; 
	cursor: pointer; 
	font-family: sans-serif; 
} 

button.generate { 
	width: 100%; 
	margin-top: 1.5rem; 
	padding: 1rem; 
} 

h1 { 
	text-align: center; 
	color: #4caf50; 
}
